.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 2rem;
  text-align: center;
}

.content {
  max-width: 600px;
}

.title {
  font-size: 8rem;
  font-weight: 800;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
  font-family: var(--font-primary);
}

.subtitle {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  margin-bottom: 1.5rem;
}

.text {
  font-size: 1.125rem;
  color: var(--color-text-light);
  margin-bottom: 2.5rem;
}

.button {
  display: inline-block;
  background-color: var(--color-primary);
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-primary-dark);
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
}